body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  height: 110px;
  margin: 150px auto 0 auto;
  text-align:center;

 }

 h2{
   font-family: 'Montserrat', sans-serif;
   font-size: 2rem;
   color: #66BFBF;
   font-weight: normal;
   text-align: center;
 }
 h3{
   font-family: 'Montserrat', sans-serif;
   color: #11999E;
 }

 a{
   color: #11999E;
 }

 hr{
   width: 10%;
   border: 10px dotted;
   border-style: none none dotted;
   color: #EAF6F6;
 }
 .top_container {
   background-color: #D3DEDC;
       padding-top: 100px;
       padding-bottom: 26%;
       position: relative;
 }



 .bottom-container{
   background-color: #66BFBF;
   padding: 30px 30px 30px 30px;

 }

 .content-writing{
   margin:auto; /* Required */
   position:absolute; /* Required */
   bottom:0; /* Aligns at the bottom */
   left:0;right:0; /* Aligns horizontal center */
   max-height:100%; /* images bigger than 175 px  */
   max-width:100%;  /* will be shrinked to size */

 }


.bottom-cloud{


}

.top-cloud{
  position: absolute;
 right: 250px;
 top: 0;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

  overflow: auto;
}

.coding-img{
  width: 25%;
  float: left;
  margin-right: 30px;

}

.off-road-img{
  width: 25%;
  float: right;
  margin-right: 30px;

}

.self-desc{
  color: #40514E;
}

.my-skill{
  color: #66BFBF;
}

.offroad{
  color: #11999E;
}

.footer-link1{
  position: absolute;
  left: 250px;
}

.footer-link2{
  position: absolute;
  left: 400px;
}
.Copyright{
  color: #EAF6F6;
  margin-top: 60px;
}

.devtitle {
    margin: auto 50px 30px auto;
    padding-left: 80px;
}



.btn{

  background: #11cdd4;

  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);

  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);

  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);

  background-image: -o-linear-gradient(top, #11cdd4, #11999e);

  background-image: linear-gradient(top, #11cdd4, #11999e);

  -webkit-border-radius: 8;

  -moz-border-radius: 8;

  border-radius: 8px;

  font-family: Arial;

  color: #ffffff;

  font-size: 20px;

  padding: 10px 20px 10px 20px;

  text-decoration: none;

}

.btn:hover{

  background: #30e3cb;

  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);

  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);

  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);

  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);

  background-image: linear-gradient(top, #30e3cb, #2bc4ad);

  text-decoration: none;



}
